<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial;
            margin: 0;
        }

        nav {
            background: #303a52;
            color: white;
            padding: 1rem;
            display: flex;
            justify-content: flex-end;
        }

        nav button {
            background: #ff5a5f;
            border: none;
            color: white;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            cursor: pointer;
        }

        main {
            max-width: 800px;
            margin: 2rem auto;
            padding: 1rem;
            box-shadow: 0px 0px 5px #ddd;
        }

        .result {
            background: #fff;
            border-radius: 10px;
            padding: 1rem;
            text-align: center;
            box-shadow: 0px 3px 10px #aaa;
        }

        .result p {
            color: #303a52;
            font-size: 1.2rem;
            font-weight: 600;
        }

        .result a {
            color: #ff5a5f;
            font-size: 1.1rem;
        }
    </style>
</head>

<body>

<nav>
    <button onclick="location.href='http://localhost:2311'">
        Main Menu
    </button>
</nav>

<main>

    <div class="result">
        <p>Error:</p>
        <p style="color: #ff5a5f">{{ .error }}</p>
    </div>

</main>

</body>
</html>